<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomida.fukuyakukanriapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:label="設定" />
        <activity
            android:name=".Edit"
            android:label="編集" />
        <activity
            android:name=".Calender"
            android:label="日付選択" />
        <activity
            android:name=".CalendarView"
            android:label="カレンダー" />
        <activity
            android:name=".DB"
            android:label="服用記録" />

        <receiver
            android:name=".ServiceActivity"
            android:process=":remote" />

    </application>

</manifest>
